@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="background-color: #f8f9fa; padding: 40px; border-radius: 8px;">
    <h1 class="display-4" style="color: black; font-size: 3rem;">Welcome to Moto App</h1>
    <p style="font-size: 1.25rem; color: #6c757d;">
        The Moto App is a .NET Core MVC application designed to manage and record information about motos. With this application, you can perform CRUD (Create, Read, Update, Delete) operations to manage moto records effectively.
    </p>
    <p style="font-size: 1.25rem; color: #6c757d;">
        Features include:
        <ul style="list-style-type: square; ">
            <li>View and filter a list of motos.</li>
            <li>Add new moto records with essential details.</li>
            <li>Edit existing records to update information.</li>
            <li>Delete records when they are no longer needed.</li>
        </ul>
    </p>
   
   
</div>
<p style="font-size:1.5rem; text">
    Find the List of the Moto Racers here: <a href="https://localhost:7100/motoes">Index</a>
</p>
